<script src='/js/input_form.js'></script>
<form>
<section>
	<label><b>학번</b></label>
	<input type='number' name='strNum' id='strNum'>
	<label><b>이름</b></label>
	<input type='text' name='strName' id='strName'>
</section>

<section>
	<label><b>국어</b></label>
	<input type='number' name='intKor' id='intKor'>
	<label><b>영어</b></label>
	<input type='number' name='intEng' id='intEng'>
	<label><b>수학</b></label>
	<input type='number' name='intMath' id='intMath'>
</section>

<section>
	<label><b>총점</b></label>
	<input type='number' name='intTotal' id='intTotal'>
	<label><b>평균</b></label>
	<input type='number' name='intAvg' id='intAvg'>
</section>
<section class='w3-right'>
<button type='button' id='listBtn' class='w3-button w3-yellow'>리스트보기</button>
<button type='button' id='saveBtn' class='w3-button w3-blue'>저장</button>
</section>
</form>