<!DOCTYPE html>
<html>
<head>
<title></title>
</head>
<body>
<h3>로그인</h3>
<article>
	<form action='/login' method='post'>
   <section>
      <label>User ID</label>
      <input type='eamil' id='userId' name='userId'>
   </section>
   <section>
      <label>Password</label>
      <input type='password' id='password' name='password'>
   </section>
   <section>
   		<button type='submit'>로그인</button>
   		<a href='/register'>사용자 등록</a>
   </section>
   </form>
</article>
</body>
</html>
