<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h2>회원정보입력</h2>
	<form action='/insert' method='post'>
		<table>
			<tr>
				<td>이름</td>
				<td><input type='text' name='strName'></td>
			</tr>
			<tr>
				<td>주소</td>
				<td><input type='text' name='strAddr'></td>
			</tr>
			<tr>
				<td>나이</td>
				<td><input type='text' name='intAge'></td>
			</tr>
		</table>
		<input type='submit'>
	</form>

</body>
</html>