<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h2>회원정보수정</h2>
	<form action='/update' method='post'>
		<input type='hidden' name='id' value='<%- _id %>' >
		<table>
			<tr>
				<td>이름</td>
				<td><input type='text' name='strName' value='<%- strName %>'></td>
			</tr>
			<tr>
				<td>주소</td>
				<td><input type='text' name='strAddr' value='<%- strAddr %>'></td>
			</tr>
			<tr>
				<td>나이</td>
				<td><input type='text' name='intAge' value='<%- intAge %>'></td>
			</tr>
		</table>
		<input type='submit'>
	</form>
</body>
</html>