<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>자료 추가 연습</title>

<h1>자    료    추     가</h1>
<form action='/insert' method='post'>
<table>
	<tr>
		<td>이름</td>
		<td><input type='text' name='txtname' /></td>
	</tr>
	<tr>
		<td>주소</td>
		<td><input type='text' name='txtaddr' /></td>
	</tr>
	<tr>
		<td>전화번호</td>
		<td><input type='text' name='txttel' /></td>
	</tr>
	<tr>
		<td></td>
		<td><input type='submit' name='저장'></td>
	</tr>
</table>
</form>
</body>
</html>