<!DOCTYPE html>
<html>
<head><% include header.ejs %>
<script src='/js/main.js'></script>
</head>
<body class='w3-light-gray w3-padding-16'>
<header class='w3-container w3-blue w3-margin'>
	<h3 class='w3-padding-16'>주소록 관리</h3>
</header>
<article class='w3-container w3-margin w3-padding-16'>
	<section class='w3-col m5 l5 s5 w3-white w3-margin w3-padding-16'>
	<% include input_form.ejs %>
	</section>

	<section id='viewList' class='w3-col m6 l6 s6 w3-white w3-margin w3-padding-16'>
	
	</section>
</article>


</body>
</html>
