<article class='w3-margin w3-padding-16'>
	<form>
		<input type='hidden' id='id' name='id'>
		<section>
			<label>이름</label>
			<input type='text' id='strName' name='strName'>
		</section>
		<section>
			<label>주소</label>
			<input type='text' id='strAddr' name='strAddr'>
		</section>
		<section>
			<label>전화번호</label>
			<input type='tel' id='strTel' name='strTel'>
		</section>
		<section>
			<label>나이</label>
			<input type='number' id='intAge' name='intAge'>
		</section>
		<section class='w3-right'>
			<button type='button' id='newBtn' class='w3-button w3-yellow'>새로작성</button>
			<button type='button' id='saveBtn' class='w3-button w3-blue'>저장</button>
			<button type='button' id='deleteBtn' class='w3-button w3-red'>삭제</button>
		</section>
	</form>
</article>
