<!DOCTYPE html>
<html>
  <head>
    <title>내 Iot 홈페이지</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%- title %></h1>
    <p>Welcome to <%- myname %></p>
  </body>
</html>
